body{
    -webkit-background: #C33764;  
    -moz-background: -webkit-linear-gradient(to right, #1D2671, #C33764);  
    -o-background: linear-gradient(to right, #1D2671, #C33764); 
    background: linear-gradient(to right, #1D2671, #C33764);
    font-family: 'Poppins', sans-serif;

}

.form h3{
    font-size: 30px;
    text-align: center;
    padding: 20px 0;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.form{
    background-color: #fff;
    width: 60%;
    margin: 50px auto;
    padding: 20px;
    border-radius: 20px;
}

.react-datepicker-wrapper,
.react-datepicker__input-container{display: block !important;}

.item{
    background-color: #fff;
    width: 60%;
    margin: 20px auto;
    padding: 10px;
    position: relative;
    -webkit-box-shadow: -5px 9px 22px -16px rgba(0,3,51,1);
    -moz-box-shadow: -5px 9px 22px -16px rgba(0,3,51,1);
    box-shadow: -5px 9px 22px -16px rgba(0,3,51,1);
}

button.close-b{
    position: absolute;
    top: 17px;
    right: 15px;
    background-color: #dc3545;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    font-size: 14px;
    border: none !important;
}

.item h3{
    font-size: 22px;
    font-weight: 600;
    text-transform: capitalize;
}

.item span{
    font-size: 16px;
    color: #dc3545;
    font-weight: 500;
}
